*{
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    display:flex;
    justify-content:space-evenly;
    height:60px;
    background-color: #0f1111;
    color:white;
    align-items:center;

}

.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height:50px;
    width:100%;
}
.border{
    border: 1.4px solid transparent;
}
.border:hover{
    border:1.4px solid white;
}
.add-icon{
    display:flex;
    align-items: center;
}
.add-first{
    
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 12px;
}
.add-second{
    font-size:1rem;
    margin-left:3px;
}
.nav-search-bar{
    display:flex;
    justify-content:space-evenly;
    background-color: pink;
    width: 600px;
    height:40px;
    border-radius:4px;
}
.search-select{
    background-color: #f3f3f3;
    width:45px;
    padding:5px;
    text-align: center;
 border-top-left-radius: 4px;
 border-bottom-left-radius:4px;
 border:none;
 


}
.nav-search-bar:hover{
    border: 2px solid orange;
}
.search-input{
    width:525px;
    font-size:1rem;



}
.search-icon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#febd68;
    font-size:1.2rem;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
}
.first-line{
     /* display:flex;
    justify-content:center; */
    font-size:  0.8rem;
    font-family:Arial,sans-serif;
    color:#ffffff;


}

.second-line{
    /* display:flex;
    justify-content:center; */
    font-size:1rem;
   font-family:Arial,sans-serif;
    color:#ffffff;
    font-weight:700;
}
.sign-in:hover{
    border:1.4px solid white;
}
.exchange:hover{
     border:1.4px solid white;
}


.cart-icon {
    
    display:flex;
    height:40px;
    font-size:1rem;
     display:flex;
    align-items: center;
    font-weight:700;

}
.cart-icon i{
    font-size:35px;
    

}
.border:hover{


    border:1.4px solid white;
}
.panel-all i{
    float:left;


}

.panel{
    height:40px;
    background-color:#222f3d;
    display:flex;
    color:white;
    align-items:center;
    justify-content:center;



}
.panel-ops p{
    display:inline;
    margin-left:15px;
    color:white;
}
.panel-ops{
    width:70%;
    font-size:0.85rem;
    color:white;
    margin:10px;

}

.panel-deals{
    font-size:0.9rpm;

}
.hero-section{
    display:flex;
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:390px;
    justify-content:center;
    align-items:flex-end;
    /* background-position-x: center; */
    



}
.hero-message{   
    background-color:white;
    color:black;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.85rem;
    position:relative;
    margin-bottom:25px;
    width:80%;
    

}
.hero-message a{
    color:#007185;

}
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: #e2e7e6;
}
.box{
height:400px;
width:23%;
background-color:white;
margin-top:15px;

}
.box-image{
    background-size: cover;
    margin-top:1rem;
    margin-bottom:0.78rem;
    background-repeat: no-repeat; 
    height:300px;
    padding:20px,0px,15px;


}



.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.box-content p{
    color:#007185;
}
.footer{
    margin-top:5px;


}
.foot-panel1{
    background-color:#37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.0rem;
   
}
.foot-panel2{
    display:flex;
    justify-content: space-evenly;
    background-color:#222f3d;
    color:white;
    height:500px;
    text-align:center;
    

}
.foot-panel2 p{
    font-size:1.2rem;

}
.foot-panel2 a{
    display:block;
    font-size:1rem;
    margin-top:10px;
    color:#dddddd;
}
.foot_panel3{
    background-color:#222f3d;
    color:white;
    border-top: 0.5px solid white;
    height:68px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100px;
}